# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\何金龙\大学\网络学堂\2020-2021秋季学期\软件工程\单元测试&应用部署作业\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
